.controll-button {
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(30px);
    background-color: rgb(110, 102, 102);
    color: #fff;
}

.controll-button:hover {
    backdrop-filter: blur(50px);
}