.database-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    padding: 0 1.8rem 2rem 1.8rem;
    height: auto;
    background-color: #1E1E1E;
}

.database-buttons {
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2vh 0;
}

.database-buttons button {
    display: flex;
    gap: 0.5rem;
    width: 7rem;
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.database-buttons button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.database-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    grid-gap: 3rem;
    padding: 2vh 0;
}

.database-image {
    position: relative;
    width: 100%;
    height: auto;
}

.database-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .database-wrapper {
        width: 100%;
    }

    .database-buttons {
        justify-content: space-between;
        padding: 2vh 2vw;
    }

    .database-images-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .database-image {
        height: 30vh;
    }
}

@media (max-width: 480px) {
    .database-buttons button {
        width: auto;
        padding: 0.5rem 1rem;
    }
}
